<form class="form" [formGroup]="formulario" (ngSubmit)="onSUbmit()">

    <h2>NEW POST</h2>
    <div class="form-group">
        <p type="Name:">Title<input formControlName="titulo"></p>
    </div>
    <div class="form-group">
        <p type="Text">Texto<input formControlName="texto"></p>
    </div>
    <div class="form-group">
        <p type="Author">Author<input formControlName="autor"></p>
    </div>
    <div class="form-group">
        <img src="" alt="">Picture<input formControlName="imagen">
    </div>
    <div class="form-select">
        <select name="Categoria" id="" formControlName="categoria">
            <option value="Arabian Food">Arabian Food</option>
            <option value="Indian Food">Indian Food</option>
            <option value="Mediterranean Food">Mediterranean Food</option>
            <option value="Asian Food">Asian Food</option>
            <option value="Bread and derivates">Bread and derivates</option>
            <option value="Other">Otros</option>
        </select>
    </div>
    <div class="form-group">
        <input type="date" formControlName="fecha">
    </div>



    <button class="btn btn-block btn-info">Submit</button>

</form>