<select class="form-select" aria-label="Default select example" (change)="onChange($event)">
    <option value="">Ver Todos</option>
    <option [value]="categoria" *ngFor="let categoria of listaCategory">{{categoria}}</option>

</select>

<div class="container">
    <div class="blog" *ngFor="let pos of ponerPost">

        <h2>{{pos.titulo}}</h2>
        <p>{{pos.texto}}</p>
        <p>Autor/a: {{pos.autor}}</p>

        <img [src]="pos.imagen" alt="">
        <h6>{{pos.categoria}}</h6>

        <hr>

    </div>
</div>